@media(max-width: 745px) {
    .section2_catalog {
        padding: 48px 64px;
    }

    .hide745 {
        display: none;
    }
}


@media (max-width: 714px) {
    .footer_content {
        flex-direction: column;
        row-gap: 40px;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .section1_contact {
        padding: 32px 40px;
        margin-block: -8.5px;
    }

    .section1_contact h2 {
        width: 295px;
        font-size: 16px;
        line-height: 24px;
    }

    br {
        display: none;
    }

    .contact_container1 {
        width: 295px;
        padding: 16px 92px;
    }

    .connect {
        flex-direction: row;
        column-gap: 24px;
    }

    .contact_div {
        justify-content: center;
        align-items: center;
        column-gap: 24px;
    }

    .gmail a,
    .telephone a {
        display: none;
    }

    .gmail,
    .telephone,
    .location {
        width: 24px;
        height: 24px;
    }

    .gmail_icon,
    .mobile_icon,
    .location_icon {
        width: 24px;
        height: 24px;
    }

    .contact_container2 {
        flex-direction: column;
        row-gap: 40px;
    }

    .socialNetwork {
        justify-content: center;
    }

}

@media (max-width: 680px) {
    .section2_catalog {
        padding: 32px 16px;
    }

    .hide680 {
        display: none;
    }

    .filter h3 {
        display: none;
    }

    .choice h3 {
        display: none;
    }

    .section2_cards {
        padding-block: 40px;
    }

    .pages h3 {
        display: none;
        column-gap: 45px;
    }

    .previous,
    .next {
        padding-inline: 14px;
    }




}

@media (max-width: 660px) {
    .section2_home {
        padding: 32px 8px;
    }

    .left h3,
    .right h3 {
        font-size: 16px;
        line-height: 24px;
        top: 8px;
        left: 8px;
    }

    .section1_catalog {
        padding-block: 16px;
    }

    .catalog_li {
        padding: 8px;
    }

    .catalog_a {
        font-size: 16px;
        line-height: 24px;
    }


}

@media (max-width: 581px) {
    header {
        padding: 32px 8px;
    }

    .icons {
        column-gap: 16px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .section1_home {
        margin-top: -23px;
    }

    .section1_catalog {
        margin-top: -22px;
    }

    .section1_contact {
        margin-top: -30px;
    }


}

@media (max-width: 501px) {
    .search_icon {
        width: 32px;
        height: 32px;
    }

    .user_icon {
        width: 32px;
        height: 32px;
    }

    .cart_icon {
        width: 35px;
        height: 35px;
    }

    .section1_home_content {
        column-gap: 16px;
    }

    .section1_home h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .section3_home {
        padding-inline: 8px;
    }

    .section4_home {
        padding-block: 32px;
        height: 168px;
        row-gap: 24px;
    }

    .section4_home h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .section4_input {
        width: 201px;
    }
}